# MTA Traffic Forecasting
#### Justin Morgan & Khyatee Desai
This notebook includes the data collection, storage, and cleaning process. The data is sourced from the [MTA turnstile data archive](http://web.mta.info/developers/turnstile.html), which all turnstile data from all NYC subway stations in comma delineated text files, segmented by week.
# Part 1: Web Scrape MTA Data
The data is iteratively scraped from the webpage using BeautifulSoup, and the text files are currently stored locally within a "data" folder.
<br><br>
Future steps will involve storing this data within an S3 bucket in the AWS cloud for faster storage & retrieval.

In [72]:
# import necessary packages
import pandas as pd
import numpy as np
import os
import requests
import urllib.request
import time
from timeit import default_timer as timer
import humanfriendly
from bs4 import BeautifulSoup
from datetime import datetime as dt

### Get MTA turnstile data from publicly available website

In [6]:
url_root = r'http://web.mta.info/developers/' # set root url
# path = r'/Users/justinwilliams/projects/mta_turnstile/data/' # commented this out and changed it below to just save to "./data/" folder so it works for both of us - k
starttime = timer() # start timer to time process

req = requests.get(url_root + 'turnstile.html') # send request
soup = BeautifulSoup(req.content, 'html.parser') # parse html and save to bs4 object
weekly_data = soup.find(class_='span-84 last') # find class_ where file links are locatedb

## This way took much longer so used urllib.request.urlretrieve
# for file in weekly_data.findAll('a'):
#     print('Saving file turnstile ' + str(file)[39:49])
#     datafile = requests.get(url_root + str(file)[9:49])
#     with open(path + str(file)[39:49], 'w') as outf:
#         for line in datafile.text:
#             outf.writelines(line)
#     time.sleep(1)

# endtime = timer()
# print('Completed in ' + humanfriendly.format_timespan(endtime-starttime))

counter = 1
for one_a_tag in weekly_data.findAll('a')[:5]:
    file = one_a_tag['href']
    datafile = url_root + file
    urllib.request.urlretrieve(datafile, './data/' + datafile[datafile.find('/turnstile_')+1:])
    time.sleep(1)
    counter += 1
    print('Saving file turnstile ' + str(one_a_tag)[39:49])
    
endtime = timer()
print('Completed in ' + humanfriendly.format_timespan(endtime-starttime))

Saving file turnstile 210313.txt
Saving file turnstile 210306.txt
Saving file turnstile 210227.txt
Saving file turnstile 210220.txt
Saving file turnstile 210213.txt
Completed in 18.03 seconds

Took __47 minutes and 17.79 seconds__ to download all files, also folder size is __12.05GB__

Maybe there is a better way to do this?

# Part 2: Data Cleaning
This notebook includes the data cleaning process

### Inspect Data
Field Descriptions: http://web.mta.info/developers/resources/nyct/turnstile/ts_Field_Description.txt

`C/A      = Control Area (A002)`<br>
`UNIT     = Remote Unit for a station (R051)`<br>
`SCP      = Subunit Channel Position represents an specific address for a device (02-00-00)`<br>
`STATION  = Represents the station name the device is located at`<br>
`LINENAME = Represents all train lines that can be boarded at this station
           Normally lines are represented by one character.  LINENAME 456NQR repersents train server for 4, 5, 6, N, Q, and R trains.`<br>
`DIVISION = Represents the Line originally the station belonged to BMT, IRT, or IND   `<br>
`DATE     = Represents the date (MM-DD-YY)`<br>
`TIME     = Represents the time (hh:mm:ss) for a scheduled audit event`<br>
`DESc     = Represent the "REGULAR" scheduled audit event (Normally occurs every 4 hours)`<br>
        `1. Audits may occur more that 4 hours due to planning, or troubleshooting activities.`<br>
        `2. Additionally, there may be a "RECOVR AUD" entry: This refers to a missed audit that was recovered.`<br>
`ENTRIES  = The comulative entry register value for a device`<br>
`EXIST    = The cumulative exit register value for a device`<br>

In [7]:
df = pd.read_csv("./data/turnstile_210313.txt")
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/06/2021,03:00:00,REGULAR,7540642,2572027
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/06/2021,07:00:00,REGULAR,7540645,2572030
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/06/2021,11:00:00,REGULAR,7540676,2572093
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/06/2021,15:00:00,REGULAR,7540764,2572128
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/06/2021,19:00:00,REGULAR,7540904,2572160

### Concatenate Data
Concatenate each data file into a Pandas dataframe

In [82]:
# create main df using first file in the folder
for filename in os.listdir("./data/")[:1]:
    df = pd.read_csv("./data/"+filename)

# iterate over remaining files and concat them to main df
for filename in os.listdir("./data/")[1:]:
    df = pd.concat([df,pd.read_csv("./data/"+filename)])

In [83]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/06/2021,03:00:00,REGULAR,7527244,2565995
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/06/2021,07:00:00,REGULAR,7527246,2566004
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/06/2021,11:00:00,REGULAR,7527296,2566054
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/06/2021,15:00:00,REGULAR,7527430,2566098
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/06/2021,19:00:00,REGULAR,7527588,2566129

### Reformat Data Types
Convert strings to DateTime format

In [84]:
df.DATE = pd.to_datetime(df['DATE'])

### Change Time Column to Timestamp Object

In [81]:
# df.TIME = pd.to_datetime(df['TIME'])
# df.TIME.apply(lambda x: dt.timestamp(x))

0         1.615878e+09
1         1.615892e+09
2         1.615907e+09
3         1.615921e+09
4         1.615936e+09
              ...
209039    1.615882e+09
209040    1.615896e+09
209041    1.615910e+09
209042    1.615925e+09
209043    1.615939e+09
Name: TIME, Length: 1045984, dtype: float64

In [85]:
df.dtypes

C/A                                                                             object
UNIT                                                                            object
SCP                                                                             object
STATION                                                                         object
LINENAME                                                                        object
DIVISION                                                                        object
DATE                                                                    datetime64[ns]
TIME                                                                            object
DESC                                                                            object
ENTRIES                                                                          int64
EXITS                                                                            int64
dtype: object

In [97]:
df[(df.STATION == '1 AV') & (df.DATE.astype(str)=='2021-02-15')].head(50)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
32457,H007,R248,00-00-00,1 AV,L,BMT,2021-02-15,03:00:00,REGULAR,15527961,17632515
32458,H007,R248,00-00-00,1 AV,L,BMT,2021-02-15,07:00:00,REGULAR,15527966,17632614
32459,H007,R248,00-00-00,1 AV,L,BMT,2021-02-15,11:00:00,REGULAR,15528006,17632890
32460,H007,R248,00-00-00,1 AV,L,BMT,2021-02-15,15:00:00,REGULAR,15528061,17633189
32461,H007,R248,00-00-00,1 AV,L,BMT,2021-02-15,19:00:00,REGULAR,15528142,17633471
32462,H007,R248,00-00-00,1 AV,L,BMT,2021-02-15,23:00:00,REGULAR,15528199,17633594
32499,H007,R248,00-00-01,1 AV,L,BMT,2021-02-15,03:00:00,REGULAR,61236209,38373398
32500,H007,R248,00-00-01,1 AV,L,BMT,2021-02-15,07:00:00,REGULAR,61236215,38373461
32501,H007,R248,00-00-01,1 AV,L,BMT,2021-02-15,11:00:00,REGULAR,61236284,38373602
32502,H007,R248,00-00-01,1 AV,L,BMT,2021-02-15,15:00:00,REGULAR,61236388,38373765
32503,H007,R248,00-00-01,1 AV,L,BMT,2021-02-15,19:00:00,REGULAR,61236525,38373903
32504,H007,R248,00-00-01,1 AV,L,BMT,2021-02-15,23:00:00,REGULAR,61236603,38373982
32541,H007,R248,00-03-00,1 AV,L,BMT,2021-02-15,03:00:00,REGULAR,370879368,388112044
32542,H007,R248,00-03-00,1 AV,L,BMT,2021-02-15,07:00:00,REGULAR,370879370,388112056
32543,H007,R248,00-03-00,1 AV,L,BMT,2021-02-15,11:00:00,REGULAR,370879381,388112089
32544,H007,R248,00-03-00,1 AV,L,BMT,2021-02-15,15:00:00,REGULAR,370879393,388112119
32545,H007,R248,00-03-00,1 AV,L,BMT,2021-02-15,19:00:00,REGULAR,370879415,388112171
32546,H007,R248,00-03-00,1 AV,L,BMT,2021-02-15,23:00:00,REGULAR,370879421,388112191
32583,H007,R248,00-03-01,1 AV,L,BMT,2021-02-15,03:00:00,REGULAR,2616099,1142646
32584,H007,R248,00-03-01,1 AV,L,BMT,2021-02-15,07:00:00,REGULAR,2616099,1142647
32585,H007,R248,00-03-01,1 AV,L,BMT,2021-02-15,11:00:00,REGULAR,2616101,1142654
32586,H007,R248,00-03-01,1 AV,L,BMT,2021-02-15,15:00:00,REGULAR,2616110,1142673
32587,H007,R248,00-03-01,1 AV,L,BMT,2021-02-15,19:00:00,REGULAR,2616127,1142690
32588,H007,R248,00-03-01,1 AV,L,BMT,2021-02-15,23:00:00,REGULAR,2616132,1142697
32625,H007,R248,00-03-02,1 AV,L,BMT,2021-02-15,03:00:00,REGULAR,6661084,565495
32626,H007,R248,00-03-02,1 AV,L,BMT,2021-02-15,07:00:00,REGULAR,6661084,565498
32627,H007,R248,00-03-02,1 AV,L,BMT,2021-02-15,11:00:00,REGULAR,6661100,565501
32628,H007,R248,00-03-02,1 AV,L,BMT,2021-02-15,15:00:00,REGULAR,6661129,565501
32629,H007,R248,00-03-02,1 AV,L,BMT,2021-02-15,19:00:00,REGULAR,6661176,565502
32630,H007,R248,00-03-02,1 AV,L,BMT,2021-02-15,23:00:00,REGULAR,6661190,565507
32667,H007A,R248,02-00-00,1 AV,L,BMT,2021-02-15,03:00:00,REGULAR,202707,32580
32668,H007A,R248,02-00-00,1 AV,L,BMT,2021-02-15,07:00:00,REGULAR,202721,32583
32669,H007A,R248,02-00-00,1 AV,L,BMT,2021-02-15,11:00:00,REGULAR,202816,32598
32670,H007A,R248,02-00-00,1 AV,L,BMT,2021-02-15,15:00:00,REGULAR,202947,32617
32671,H007A,R248,02-00-00,1 AV,L,BMT,2021-02-15,19:00:00,REGULAR,203093,32641
32672,H007A,R248,02-00-00,1 AV,L,BMT,2021-02-15,23:00:00,REGULAR,203150,32660
32709,H007A,R248,02-00-01,1 AV,L,BMT,2021-02-15,03:00:00,REGULAR,149184,39590
32710,H007A,R248,02-00-01,1 AV,L,BMT,2021-02-15,07:00:00,REGULAR,149192,39591
32711,H007A,R248,02-00-01,1 AV,L,BMT,2021-02-15,11:00:00,REGULAR,149261,39609
32712,H007A,R248,02-00-01,1 AV,L,BMT,2021-02-15,15:00:00,REGULAR,149346,39623
32713,H007A,R248,02-00-01,1 AV,L,BMT,2021-02-15,19:00:00,REGULAR,149449,39647
32714,H007A,R248,02-00-01,1 AV,L,BMT,2021-02-15,23:00:00,REGULAR,149492,39650
32751,H007A,R248,02-00-02,1 AV,L,BMT,2021-02-15,03:00:00,REGULAR,98629,70969
32752,H007A,R248,02-00-02,1 AV,L,BMT,2021-02-15,07:00:00,REGULAR,98631,70970
32753,H007A,R248,02-00-02,1 AV,L,BMT,2021-02-15,11:00:00,REGULAR,98682,70987
32754,H007A,R248,02-00-02,1 AV,L,BMT,2021-02-15,15:00:00,REGULAR,98741,71014
32755,H007A,R248,02-00-02,1 AV,L,BMT,2021-02-15,19:00:00,REGULAR,98804,71049
32756,H007A,R248,02-00-02,1 AV,L,BMT,2021-02-15,23:00:00,REGULAR,98832,71060
32793,H007A,R248,02-00-03,1 AV,L,BMT,2021-02-15,03:00:00,REGULAR,76022,162474
32794,H007A,R248,02-00-03,1 AV,L,BMT,2021-02-15,07:00:00,REGULAR,76023,162480

### Daily Entries & Exits...in progress lol

In [98]:
df.groupby(['STATION','DATE','SCP'])[['ENTRIES']].max()

                                 ENTRIES
STATION   DATE       SCP
1 AV      2021-02-06 00-00-00   15525120
                     00-00-01   61232338
                     00-03-00  370878782
                     00-03-01    2615731
                     00-03-02    6660014
...                                  ...
ZEREGA AV 2021-03-12 00-00-01     227473
                     00-03-00    1142796
                     00-03-01    1218850
                     00-05-00        232
                     00-05-01         39

[154471 rows x 1 columns]

In [99]:
df.groupby(['STATION','DATE','SCP'])[['ENTRIES']].min()

                                 ENTRIES
STATION   DATE       SCP
1 AV      2021-02-06 00-00-00   15524923
                     00-00-01   61232032
                     00-03-00  370878741
                     00-03-01    2615699
                     00-03-02    6659920
...                                  ...
ZEREGA AV 2021-03-12 00-00-01     227376
                     00-03-00    1142551
                     00-03-01    1218309
                     00-05-00        232
                     00-05-01         39

[154471 rows x 1 columns]

In [100]:
df.groupby(['STATION','DATE','SCP'])[['ENTRIES']].max()- df.groupby(['STATION','DATE','SCP'])[['ENTRIES']].min()

                               ENTRIES
STATION   DATE       SCP
1 AV      2021-02-06 00-00-00      197
                     00-00-01      306
                     00-03-00       41
                     00-03-01       32
                     00-03-02       94
...                                ...
ZEREGA AV 2021-03-12 00-00-01       97
                     00-03-00      245
                     00-03-01      541
                     00-05-00        0
                     00-05-01        0

[154471 rows x 1 columns]

### Pickle Cleaned Data