# MTA Traffic Forecasting
Khyatee Desai & Justin Morgan
# Part 4: Modeling Process
This notebook includes feature engineering and modeling

### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import pickle
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns

### Import Cleaned Data

In [2]:
df = pd.read_pickle("./pickled/cleaned_data")
df

STATION,1 AV,103 ST,103 ST-CORONA,104 ST,110 ST,111 ST,116 ST,116 ST-COLUMBIA,121 ST,125 ST,...,WHITLOCK AV,WILSON AV,WINTHROP ST,WOODHAVEN BLVD,WOODLAWN,WORLD TRADE CTR,WTC-CORTLANDT,YORK ST,ZEREGA AV,TOTAL
DATE,,,,,,,,,,,,,,,,,,,,,
2021-01-02,3559.0,4694.0,6158.0,979.0,2115.0,4661.0,5677.0,693.0,550.0,13679.0,...,466.0,973.0,1074.0,5682.0,1816.0,161.0,1594.0,1.0,472.0,864360.0
2021-01-03,2415.0,3278.0,4571.0,647.0,1522.0,3387.0,3994.0,455.0,401.0,9582.0,...,337.0,724.0,842.0,3784.0,1130.0,59.0,648.0,2.0,354.0,578814.5
2021-01-04,5193.0,7801.0,9253.0,1800.0,3378.0,7114.0,8669.0,1921.0,903.0,21790.0,...,788.0,1429.0,2552.0,6347.5,2780.0,2309.0,1546.0,2129.0,918.0,1431732.5
2021-01-05,5333.0,8251.0,9794.0,1795.0,3630.0,7692.0,9119.0,1936.0,946.0,22314.0,...,819.0,1513.0,2677.0,8911.0,2926.0,2395.0,1492.0,2153.0,956.0,1472308.5
2021-01-06,5468.0,8467.0,9972.0,1832.0,3850.0,7622.0,9131.0,2021.0,938.0,21924.0,...,841.0,1528.0,2609.0,9127.0,2840.0,2403.0,1560.0,2202.0,932.0,1496078.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-08,5833.0,9097.0,9427.0,1952.0,3802.0,7169.0,10187.0,2131.0,1058.0,23662.0,...,818.0,1463.0,2887.0,8693.0,2841.0,2381.0,1641.0,2176.0,918.0,1525163.0
2021-03-09,6154.0,9570.0,9947.0,1943.0,4267.0,7642.0,10444.0,2172.0,998.0,25143.0,...,884.0,1650.0,2994.0,9338.0,3077.0,2565.0,1759.0,2418.0,979.0,1616116.0
2021-03-10,6021.0,9773.0,9926.0,1952.0,4190.0,7648.0,10768.0,2296.0,1111.0,24893.0,...,907.0,1570.0,2930.0,9329.0,3083.0,2493.0,1628.0,2374.0,976.0,1622755.0
2021-03-11,6356.0,9705.0,10257.0,1894.0,4299.0,7997.0,10898.0,2348.0,1121.0,25645.0,...,889.0,1652.0,2913.0,9540.0,3217.0,2669.0,1747.0,2386.0,1051.0,1981584.0
2021-03-12,6631.0,9605.0,10197.0,1909.0,4247.0,8135.0,10812.0,2460.0,1081.0,25741.0,...,841.0,1706.0,2844.0,9530.0,3087.0,2568.0,1702.0,2517.0,1015.0,1656302.0

# Remove Trends